[Desktop Entry]
Exec=kanotix-su rxvt -bg black -fg green -cr red -ls -e /bin/bash
Icon=rootshell
Name=Root Shell
Name[es]=Consola de root
Type=Application
