[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=x-terminal-emulator -e su-me /bin/login -f root

Icon=sidux-terminal

Name=Root Shell
Name[es]=Consola de root
Categories=sidux;
