[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=su-to-root -c /bin/bash
Terminal=yes

Icon=sidux-terminal

Name=Root Shell
Name[ru]=Консоль суперпользователя
Name[es]=Consola de root
Name[pt]=Terminal de superutilizador
Categories=System;TerminalEmulator;
