Source: rootshell-kanotix
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), build-essential, debhelper (>= 4.1.0)
Standards-Version: 3.6.2

Package: rootshell-kanotix
Architecture: all
Provides: rootshell-knoppix
Conflicts: rootshell-knoppix
Depends: rxvt, kanotix-su, kanotix-menu
Description: start a Root Shell
 Menu entry for starting a Root Shell
