Source: rootshell
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/rootshell/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/rootshell/trunk/

Package: rootshell
Architecture: all
Depends: menu, xterm | x-terminal-emulator
Suggests: konsole | gksu
Description: start a Root Shell
 Menu entry for starting a Root Shell
